.navigation {
  display: flex;
  justify-content: center;
  list-style: none;

  &__list {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-left: 0;
  }

  &__btn {
    display: block;
    padding: 8px 10px;
    border-radius: 15px;
    color: black;
    background-color: #d1d5db;
    transition: background-color 200ms;
    &:hover {
      background-color: #9ca3af;
    }
    &--active {
      color: #064e3b;
      background-color: #6ee7b7;
      &:hover {
        background-color: #34d399;
      }
    }
  }
}
