<section *ngIf="company$ | async as company" class="container">
  <header class="header">
    <img
      [src]="company.logo"
      [alt]="'logo of ' + company.business_name"
      class="header__image"
    />
    <div>
      <h1>{{ company.suffix }} "{{ company.business_name }}"</h1>
      <p>Тип: {{ company.type }}</p>
      <p>Деятельность: {{ company.industry }}</p>
    </div>
  </header>
  <q>{{ company.catch_phrase }}</q>
  <p>Контактный телефон: {{ company.phone_number }}</p>
  <p>Адрес: {{ company.full_address }}</p>
</section>
