.header {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 20%;
  &__image {
    height: 100%;
    width: 100px;
  }
}

.container {
  border: 1px solid #dbeafe;
  padding: 20px;
  width: 550px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
